*{
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    height:100%;
    overflow: auto;
}
html, body, .container-fluid, .row-fluid, .panel{
    height:100%;
    padding:0px;
    margin:0px;
}
.panel {
    height:100%;
    overflow: auto;
    position:relative;
    margin:0px;
}
.panel .panel-header{

}
.panel ul {
    list-style-type: none;
    border-top: 1px solid #ddd;
    position: absolute;
    top: 25px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin:0px;
}
.panel li {
    padding: 5px 5px 5px 15px;
    margin: -1px 0 0 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    cursor:pointer;
}
.panel li:hover, .panel li.selected {
    background: #ebf4ff;
    border-top: solid 1px #cadaee;
    border-bottom: solid 1px #cadaee;
}
