<div class="row-fluid">
    <div class="span4 panel">
        <ul id="route-list" class="">
            <li data-ng-repeat="route in routeList" data-ng-click="getRoute(route)">
                {{ route._title }}
            </li>
        </ul>
    </div>
    <div class="span4 panel">
        <ul id="stop-list" class="">
            <li data-ng-repeat="stop in route.stop" data-ng-click="getPredictions(route, stop)">
                {{ stop._title }}
            </li>
        </ul>
    </div>
    <div class="span4 panel">
        <ul id="stop-list" class="">
            <li data-ng-repeat="times in predictions.direction.prediction">
                {{ times._minutes }}
            </li>
        </ul>
    </div>
</div>
